/* Etiqueta para formularios */
.help-block-label {
  display: block;
  margin-top: 8px;
  margin-bottom: 8px;
  color: #434343;
   /*color: #33BEFF;*/
  font-size: 11px;
  font-weight: bold;
}

/* Etiqueta para texto de ayuda en formularios */
.help-label {
  display: block;
  margin-top: 5px;
  margin-bottom: 8px;
  color: #229EBA;
  font-size: 11px;
}

/* Color en td para tabla informativa */
.tdgris
{
	background-color: #F0F0F0;
}


/* Tabla detalle del cliente */
/* table bordered */
.table-bordered-detalle th,
.table-bordered-detalle td {
    border: 1px solid #BDBDBD !important;
}

/* table bordered */
.table-bordered-detalle th {
    background-color: #E6E6E6;
}


/* Tablas azul cielo */
/* table striped (linea gris en tablas) */
.table-striped-index > tbody > tr:nth-of-type(odd) {
  background-color: #CAEDFC;
}

/* table hover (al pasar el mouse) */
.table-hover-index > tbody > tr:hover {
  background-color: #E8E9E9;
}

/* table bordered */
.table-bordered-index th,
.table-bordered-index td {
    border: 1px solid #A0E4F4 !important;
}

.table-head-index
{
  font-size: 14px;
  color: #1C3E4C;
  background-color: #FFF;
}

.table-body-index
{
    font-size: 12px;
    background-color: #FFF; 
}
/* ------------------------------------------------------- */



/* Tablas para detalle de un registro */
/* table striped (linea gris en tablas) */
.table-striped-index > tbody > tr:nth-of-type(odd) {
  background-color: #CAEDFC;
}

/* table hover (al pasar el mouse) */
.table-hover-index > tbody > tr:hover {
  background-color: #E8E9E9;
}

/* table bordered */
.table-bordered-index th,
.table-bordered-index td {
    border: 1px solid #A0E4F4 !important;
}

.table-head-index
{
  font-size: 14px;
  color: #1C3E4C;
  background-color: #FFF;
}

.table-body-index
{
    font-size: 12px;
    background-color: #FFF; 
}


.text-nueve{ font-size: 9px }
.text-diez{ font-size: 10px }
.text-once{ font-size: 11px }
.text-doce{ font-size: 12px }
.text-trece{ font-size: 13px }
.text-catorce{ font-size: 14px }


/* Estilo parámetro tabla modal detalle de cotizacion */
.text-blue-uno{
    color:#00677C;
}

.well-default {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 0px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}